body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 70%;
    min-width: 900px;
    height: 100%;
    margin: auto;
    text-align: center;
    border-left: 3px solid #877e7e;
    border-right: 3px solid #877e7e;
    background-color: #afa79c;
}

hr {
    width: 99%;
    border-top: 5px dotted #afa79c;
    border-bottom: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 15px;
    color: #524d47;
}

.hr-white {
    width: 60%;
    border-top: 5px dotted #f7f2ec;
}

.hr-grey {
    width: 60%;
    border-top: 5px dotted #afa79c;
    border-bottom: none;
}

/* === Navigation Bar === */
header {
    top: 0;
    width: 70%;
    min-width: 900px;
    margin: auto;
    position: fixed;
    z-index: 5;
}

nav {
    background-color: #f7f2ec;
    border-bottom: 5px dotted #afa79c;
    list-style: none;
    margin: auto;
}

nav ul li, a {
    display: inline-block;
    color: #524d47;
    padding: 0px 10px 0px 10px;
}

nav ul a {
    padding: 5px 10px 5px 10px;
    background-color: rgb(246, 192, 192);
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
}

#navbar-logo {
    padding: 5px 0 0 5px;
}

#navbar-sections {
    padding-right: 20px;
}

/* ====== About HTML ====== */

/* = Main Body = */
main {
    background-color: rgb(247, 242, 236);
}

/* = Home Section = */
#home-image {
    height: 100%;
    max-width: 100%; 
    max-height: 100%; 
    height: auto;
    display: flex; 
    justify-content: center;
    padding-top: 75px;
}

/* = About Section = */
#about-section {
    background-color: rgb(246, 192, 192);
    width: 100%;
    padding: 20px 0 20px 0;
}

h3 {
    font: 30px/20px 'Trebuchet MS', sans-serif;
    color: #af4b4b;
    /*color: rgb(186, 87, 87);*/
}

#about-text, #learning-section > p {
    padding: 0 125px 0 125px;
    font-size: 15px;
}

/* = Learning Section = */
h5 {
    width: 50%;
    padding: 10px 0 10px 0;
    margin: auto;
    background-color: #f6c0c0;
    border-radius: 10px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    font: 20px/20px 'Trebuchet MS', sans-serif;
    color: #524d47;
}

#certificates-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.certificates-img-container {
    width: 275px;
    height: auto;
    display: inline-block;
}

#certificate-python {
    display: inline-block;
    width: 100%;
    height: auto;
}

#certificate-html {
    display: inline-block;
    width: 100%;
    height: auto;
}

/* = 30 Nites of Code = */
#nites-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.nites-div {
    padding: 0 10px 0 10px;
    align-content: center;
}

.nites-link {
    text-decoration: none;
    font: 20px/20px 'Trebuchet MS', sans-serif;
    color: #af4b4b;
}

.nites-pets {
    background-color: #f7f2ec;
    border: 5px #afa79c dotted;
    border-radius: 50%;
}

/* = Progress Bar = */
.progress-bar-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 80%;
    margin: auto;
}

.progress-bar-container { 
    background-color: #f7f2ec; 
    width: 40%; 
    margin: auto;
    border-radius: 15px;
    border: 2px solid #afa79c;
    margin-top: 10px;
} 

.skill { 
    background-color: #af4b4b; 
    color: white; 
    padding: 1% 1% 1% 3%; 
    text-align: left; 
    font-size: 15px; 
    border-radius: 15px;
} 

.sql { width: 30%; }
.react { width: 10%; }
.figma { width: 60%; }
.css { width: 40%; }
.html { width: 50%; }
.python { width: 50%; }


/* ====== Projects HTML ====== */

#projects-section {
    background-color: #f7f2ec;
    width: 90%;
    margin: auto;
    padding: 0px 0 20px 0;
}

#projects-container {
    padding: 0 75px 0 75px;
    font-size: 15px;
}

#projects-container a {
    text-decoration: none;
    width: 100%;
    margin: auto;
}

/* = Cats in Crocs =*/
#figma-container {
    width: 100%;
}

#cic-cats {
    display: inline-block;
}

.cic-cats-img {
    width: 18%;
    padding: 5px;
}

#cic-intro {
    display: inline-block;
    justify-content: center;
}

.cic-intro-img {
    width: 48%;
    border-radius: 10px;
    padding: 5px;
}

#cic-puzzles {
    display: inline-block;
    justify-content: center;
}

.cic-puzzles-img {
    width: 31%;
    padding: 5px;
}

/* ====== Footer ======*/

footer {
    background-color: #f7f2ec;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px dotted #afa79c;
}

footer p {
    color: #524d47;
}