/* Pomodoro */

html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  min-height: 100vh;
  background-color: white;
}

h1 {
  margin: 0 auto 10px auto;
  color: #924f56;
}

p {
  margin: 0;
}

.app-container {
  width: 250px;
  height: 420px;
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}

.app-counter-box {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 300%;
  position: relative;
  color: white;
  margin-bottom: 10px;
}

.timer-btn {
  top: 50px;
  font-size: 80%;
  text-transform: uppercase;
  background: white;
  color: #924f56;
  border: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

.btn-start, .btn-pause {
  font-size: 100%;
  border: 3px double #924f56;
  font-weight: bold;
  margin-bottom: 20px;
}

button:hover {
  color: #eab0b2;
  background-color: #924f56;
}

#box-timer {
  display: grid;
  place-content: center;
}

/* CSS Grid - Pomodoro */
* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

.box {
  border: 2px solid #924f56;
  border-radius: 15px;
  background-color: #eab0b2;
  padding: 1em;
}

.box1 {
  grid-column: 2/5;
  grid-row: 3/7;
}

/* CSS Grid - Todo */
.box2 {
  grid-column: 5;
  grid-row: 3/7;
}

/* Todo List */
.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}

body { 
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#todo-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  border-radius: 15px;
}

#header {
  font-size: 20px;
  text-align: center;
}

#input-box {
  width: 200px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#input-button {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  color: grey;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: white;
}

#input-button:hover {
  color: #eab0b2;
  background-color: #924f56;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;

}

li {
border: 2px solid #924f56;
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
margin-top: 10px;
}

.edit-btn, .delete-btn {
  float: inline-end;
  color: gray;
  cursor: pointer;
  padding-top: 1px;
  background: white;
  border: 2px solid gray;
  border-radius: 5px;
  margin-left: 5px;
} 

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}